.container{
  padding-bottom: 60px;
}

.title{
  font-size: 4rem;
  margin-top: 90px !important;
}

.subtitle{
  font-size: 2rem;
  margin: 40px 0 60px;
}

.modules-container{
  .card{
    min-height: 225px;
    margin-top: 30px;
  }
}
