<div class="container">
  <h1 class="title text-center">
    Invoices Pro Ltd.
  </h1>
  <h3 class="subtitle text-center">
    Accounting solution
  </h3>
  <div class="modules-container">
    <h3>
      Available modules:
    </h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-body">
            <h5>
              Module 1
            </h5>
            <p>
              This one actually works!
            </p>
            <a [routerLink]="'module-1'" class="btn btn-primary mt-auto">Check it out</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-body">
            <h5>
              Module 2
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto aspernatur doloribus et explicabo,
              illo impedit itaque maiores, natus nihil quaerat, sunt voluptate. Assumenda doloremque officiis
              perspiciatis provident reprehenderit voluptatibus!
            </p>
            <a [routerLink]="'module-2'" class="btn btn-primary">Doesn't really work</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-body">
            <h5>
              Module 3
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque aut deserunt dolorem dolorum eius
              excepturi fugiat laboriosam laudantium maiores neque, nihil odit perferendis quidem quis ratione sapiente
              ullam voluptates!
            </p>
            <a [routerLink]="'module-3'" class="btn btn-primary">Doesn't really work</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-body">
            <h5>
              Module 4
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum fugit hic magnam praesentium!
              Consectetur corporis culpa dolor nesciunt officiis. At cupiditate doloremque ducimus laborum maxime natus
              vitae! Cum, sit?
            </p>
            <a [routerLink]="'module-4'" class="btn btn-primary">Doesn't really work</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-body">
            <h5>
              Module 5
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cum fuga quaerat quas repudiandae, ullam
              veniam. Assumenda dolor doloremque est inventore laudantium. Ad aperiam, blanditiis dolores ea nesciunt
              veniam voluptas!
            </p>
            <a [routerLink]="'module-5'" class="btn btn-primary">Doesn't really work</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
